<app-header></app-header>
<section style="background-color: #fff;">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <app-superadmin-left-navigation></app-superadmin-left-navigation> 
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9">
          <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
            <div class="card shadow-2-strong" style="background-color:#f8f9fa;">
              <div class="card-body p-5">
          
                <h2 class="mb-5 text-center">Product Management: Add New Product</h2>
          
                <div class="super_admin_login">
                  <div class="mb-3 row">
                    <label for="product-category" class="col-sm-4 col-form-label form-label">Product Cateogry</label>
                    <div class="col-sm-8">
                      <select class="form-select" aria-label="Default select example" formControlName="category">
                        <option value="Category1">One</option>
                        <option value="Category2">Two</option>
                      </select>
                    </div>
                  </div>
          
          
                  <div class="mb-3 row">
                    <label for="product-sub-category" class="col-sm-4 col-form-label form-label">Product Sub-Category</label>
                    <div class="col-sm-8">
                      <select class="form-select" aria-label="Default select example" formControlName="sub_category">
                        <option value="Subcat1">One</option>
                        <option value="Subcat2">Two</option>
                        <option value="Subcat3">Three</option>
                      </select>
                    </div>
                  </div>
          
          
          
                  <div class="mb-3 row">
                    <label for="product-name" class="col-sm-4 col-form-label form-label">Product Name</label>
                    <div class="col-sm-8">
                      <select class="form-select" aria-label="Default select example" formControlName="name">
                        <option value="Product 1">One</option>
                        <option value="Product 2">Two</option>
                        <option value="Product 3">Three</option>
          
                      </select>
                    </div>
                  </div>
                  <div class="mb-4 row ">
                    <label for="Prodct Description" class="col-sm-4 form-label">Product Description</label>
                    <div class="col-sm-8">
          
                      <textarea class="form-control" id="Product Description" rows="3"></textarea>
                    </div>
                  </div>
          
                  <div class="mb-4 row">
                    <label for="trade_no" class="col-sm-4 col-form-label form-label">HSN Code</label>
                    <div class="col-sm-8">
                      <select class="form-select" aria-label="Default select example" formControlName="hsn_code">
                        <option value="code1">One</option>
                        <option value="code2">Two</option>
                      </select>
                    </div>
                  </div>
          
          
          
          
          
                  <div class="d-flex flex-row mb-4">
                    <label for="Upload Picture" class="col-sm-4 col-form-label form-label">Upload Picture</label>
                    <div class="d-flex justify-content-evenly">
                      <!-- <div class="col-sm-4">
                        <div class="ttw_button_container">
                          <button class="ttw_button" type="button">Browse</button>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="ttw_button_container">
                          <button class="ttw_button" type="button">Upload</button>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="ttw_button_container">
                          <button class="ttw_button" type="button">View</button>
                        </div>
                      </div> -->
                      <div class="col-12">
                        <input type="file" accept="image/png, image/gif, image/jpeg" (change)="selectFile($event)">
                      </div>
                    </div>
          
                  </div>
                  <div class="d-flex flex-row mb-4">
                    <div class="d-grid gap-3 col-7 mx-auto">
                      <button class="ttw_button" type="button">Import Excel File</button>
                    </div>
          
                  </div>
          
                  <div class="d-flex flex-row mb-6">
          
          
                    <div class="col-sm-5">
                      <div class="ttw_button_container">
                        <button class="ttw_button" type="submit">Submit & Next</button>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="ttw_button_container">
                        <button class="ttw_button" type="submit">Submit & Exit</button>
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="ttw_button_container">
                        <button class="ttw_button" type="button">Exit</button>
                      </div>
                    </div>
          
          
                  </div>
                </div>
          
          
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>

  <div class="modal fade" id="addProductSuccessModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-success">
          <h5 class="modal-title" style="color: black; font-weight: 500;">Success</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Product added successfully</p>
        </div>
      </div>
    </div>
  </div>




