<p>superadmin-financial-management works!</p>
<app-header></app-header>
<section style="background-color: #fff;">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <app-superadmin-left-navigation></app-superadmin-left-navigation>   
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Financial Management: Sales Data</h2>
              <div class="super_admin_login">
                
              <div class="mb-3 row">
                <label for="state" class="col-sm-2 col-form-label form-label">Period: From</label>
                <div class="col-sm-4">
                  <select class="form-select" aria-label="state">
                      <option selected></option>
                      <option value="1">Date</option>
                  </select>
                </div>
                <label for="email-id" class="col-sm-2 col-form-label form-label">To</label>
                <div class="col-sm-4">
                  <select class="form-select" aria-label="district">
                    <option selected></option>
                    <option value="1">Date</option>
                </select>
              </div>
            </div> 

            <div class="mb-3 row">
              <label for="state" class="col-sm-2 col-form-label form-label">State</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="state">
                    <option selected></option>
                    <option value="1">State 1</option>
                    <option value="1">State 2</option>
                    <option value="1">State 3</option>
                    <option value="1">State 4</option>
                </select>
              </div>
              <label for="email-id" class="col-sm-2 col-form-label form-label">District</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="district">
                  <option selected></option>
                  <option value="1">District 1</option>
                  <option value="1">District 2</option>
                  <option value="1">District 3</option>
                  <option value="1">District 4</option>
              </select>
            </div>
          </div> 

          <div class="mb-3 row">
            <label for="state" class="col-sm-2 col-form-label form-label">City</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="state">
                  <option selected></option>
                  <option value="1">City 1</option>
                  <option value="1">City 2</option>
                  <option value="1">City 3</option>
                  <option value="1">City 4</option>
              </select>
            </div>
            <label for="email-id" class="col-sm-2 col-form-label form-label">PIN</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="district">
                <option selected></option>
                <option value="1">PIN 1</option>
                <option value="1">PIN 2</option>
                <option value="1">PIN 3</option>
                <option value="1">PIN 4</option>
            </select>
          </div>
        </div> 
            
            <div class="mb-3 row">
              <label for="state" class="col-sm-2 col-form-label form-label">Vendor Name</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="state">
                    <option selected></option>
                    <option value="1">Ventor 1</option>
                    <option value="1">Vendor 2</option>
                    <option value="1">Vendor 3</option>
                    <option value="1">Vendor 4</option>
                </select>
              </div>
              <label for="email-id" class="col-sm-2 col-form-label form-label">GSTIN</label>
              <div class="col-sm-4">
                <select class="form-select" aria-label="district">
                  <option selected></option>
                  <option value="1">GSTIN 1</option>
                  <option value="1">GSTIN Code 2</option>
                  <option value="1">GSTIN Code 3</option>
                  <option value="1">GSTIN Code 4</option>
              </select>
            </div>
          </div> 
          <div class="mb-3 row">
            <label for="state" class="col-sm-2 col-form-label form-label">PAN No.</label>
            <div class="col-sm-4">
              <select class="form-select" aria-label="state">
                  <option selected></option>
                  <option value="1">PAN No. 1</option>
                  <option value="1">PAN No. 2</option>
                  <option value="1">PAN No. 3</option>
                  <option value="1">PAN No. 4</option>
              </select>
            </div>
        </div> 
    
              <div class="mb-3 row table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-blue">
                      <tr>
                        <th scope="col">Invoice ID</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Vendor Name</th>                       
                        <th scope="col">GSTIN</th>
                        <th scope="col">Order Value</th>
                        <th scope="col">IGST</th>
                        <th scope="col">CGSST</th>
                        <th scope="col">SGSST</th>
                        <th scope="col">Value after GST</th>
                        <th scope="col">Status</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                      </tr>
                      <tr>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                      </tr>
                    </tbody>
                  </table>

            </div>
            <div class="d-flex mb-3">
              <div class="col-sm-3 export-btn">
                <div ngbDropdown class="export-dropdown">
                  <div class="ttw_button_container">
                  <button type="button" class="ttw_button dropdown-toggle" id="exportDropdown" ngbDropdownToggle>
                    Export
                  </button>
                  <div ngbDropdownMenu aria-labelledby="exportDropdown">
                    <button ngbDropdownItem>Excel File</button>
                    <button ngbDropdownItem>CSV File</button>
                    <button ngbDropdownItem>PDF File</button>
                  </div>
                </div>
              </div>
            </div>
             
            <div class="col-sm-3 import-button">
              <div ngbDropdown class="import-dropdown">
                <div class="ttw_button_container">
                <button type="button" class="ttw_button dropdown-toggle" id="importDropdown" ngbDropdownToggle>
                  Import
                </button>
                <div ngbDropdownMenu aria-labelledby="importDropdown">
                  <button ngbDropdownItem>Excel File</button>
                  <button ngbDropdownItem>CSV File</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 reset-button">
            <div class="ttw_button_container">
                <button class="ttw_button" type="button" >Reset</button>
            </div>
        </div>
        <div class="col-sm-3 ">
          <div class="ttw_button_container">
              <button class="ttw_button" type="button" >Exit</button>
          </div>
      </div>
        
          </div>
          

            
                  
            
                 
              </div>
            </div>
           
  
            </div>
          </div>
        </div>
      </div>
  
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>












