<div class="product_cat mb-3">
    <div class="product_cat_title cat_title_wrap">My Account</div>
    <ul>
        <li ><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> My Order</li>
        <li class="active"><i class="fa fa-heart" aria-hidden="true"></i> My Wishlist</li>
        <li ><i class="fa fa-user" aria-hidden="true"></i> My Profile</li>
        <li ><i class="fa fa-address-book" aria-hidden="true"></i> My Delivery Addresses</li>
        <li ><i class="fa fa-envelope" aria-hidden="true"></i> Customer Support</li>
    </ul>
</div>


